[submodule "external/openai-evals"]
	path = external/openai-evals
	url = https://github.com/openai/evals.git

[submodule "external/KnowMeBench"]
	path = external/KnowMeBench
	url = https://github.com/QuantaAlpha/KnowMeBench.git
