[submodule "external/anthropics-skills"]
	path = external/anthropics-skills
	url = https://github.com/anthropics/skills.git
[submodule "external/planning-with-files"]
	path = external/planning-with-files
	url = https://github.com/OthmanAdi/planning-with-files
[submodule "external/superpowers"]
	path = external/superpowers
	url = https://github.com/obra/superpowers
